header {
    /*COR DE FUNDO DO CABEÇARIO  */
    background-color: #9e0b41;
    /* ALINHAMENTO DO TEXTO */
    text-align: center;
    /* COR DA LETRA */
    color: #181419;
    /* TAMANHO/PREENCIMENTO DO CABEÇARIO */
    padding: 25px;
}

/* MEIO DA PAGINA */
.gabriel {
    background-color: #4a073c;
    padding: 150px;
}

.bastos {
    background-color: #cc3e18;
    padding: 150px;
}

.freitas {
    background-color: #f0971c;
    padding: 150px;
}

/* RODAPÉ */
.biazotto {
    color: #4a073c;
    text-align: center;
    background-color: #181419;
    padding: 15px;
}